.info-box {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    padding: 5px;
    width: 350px;
    height: 200px;
    font-family: Quadrit;
    font-size: large;
    color: white;
    -webkit-text-stroke: 0.8px black;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    outline: 2px solid black;
    outline-offset: 0px;
    column-gap: 20px;
}

.properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: -50px;
}

.power-ups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.power-up {
    padding: 0px;
    margin: 0px;
}