.tile {
  width: 64px;
  height: 64px;
  background: url("./assets/placeholder.png") no-repeat center center;
}
.tile.selected {
  width: 64px;
  height: 64px;
  background: url("./assets/placeholder.png") no-repeat center center;
  color: red;
}
